@import "../../styles/shared.module";
@import "../../styles/BreakPoints.module";

.div_container {
  @include mixin_div_row()
}

.div_purchase {
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: center;
  text-align: center;
  padding: 0.8rem;
  border-radius: $border-radius-shared;
  border: 2px solid $color-orange;
  color: $color-orange;

  @media (max-width: $breakpoint-md) {
    font-size: $font-size-xs;
  }

  @include mixin_hover_opacity();
}