@import '../../styles/BreakPoints.module';
@import '../../styles//shared.module';

.container_prices {
  margin-top: 0.5rem;
  text-align: start;
  align-items: center;
  @include mixin_div_row()
}

.text_price_discount {
  color: $color-blue;
  font-size: $font-size-xl;
  line-height: 32px;
  font-weight: 600;
}

.text_price {
  color: $color-secundary;
  font-size: $font-size-md;
  font-weight: 400;
  line-height: 24px;
  text-decoration: line-through;
}
